# Redirect all requests to index.php
RewriteEngine On

# Handle Angular and AngularJS requests properly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L]