/* ******************************* */
/* Navigation */

body {
    margin: 0;
    font-family: "rubik", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    color: #fff;
    padding: 0 20px;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 70px;
    height: 70px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    color: #b52626;
}

.logo-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.logo-subtitle {
    font-size: 16px;
    letter-spacing: 1.5px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
}

.nav-links a {
    color: #414040;
    text-decoration: none;
}

.nav-links a:hover {
    color: #8d1d1d;
}

.contact-btn {
    background-color: #b52626;
    color: #ddd;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
}

.contact-btn:hover {
    background-color: #8d1d1d;
}

/* STICKY NAVIGATION */

.sticky.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.03);
}